.gradle/
app/build/
build/
local.properties
*.apk
*.aab
*.keystore
capacitor-cordova-android-plugins/
app/src/main/assets/public/
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
